<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>sap-cloud-opportunity-management</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
	<servlet>
		<description></description>
		<display-name>CustomersLoader</display-name>
		<servlet-name>CustomersLoader</servlet-name>
		<servlet-class>com.eone.dataload.CustomersLoader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomersLoader</servlet-name>
		<url-pattern>/CustLoad</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OpportunityTextLoader</display-name>
		<servlet-name>OpportunityTextLoader</servlet-name>
		<servlet-class>com.eone.dataload.OpportunityTextLoader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpportunityTextLoader</servlet-name>
		<url-pattern>/OppLoad</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CustomersOpportunityLoader</display-name>
		<servlet-name>CustomersOpportunityLoader</servlet-name>
		<servlet-class>com.eone.dataload.CustomersOpportunityLoader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomersOpportunityLoader</servlet-name>
		<url-pattern>/CustOptLoad</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OppMngmtServlet</display-name>
		<servlet-name>OppMngmtServlet</servlet-name>
		<servlet-class>com.eone.web.OppMngmtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OppMngmtServlet</servlet-name>
		<url-pattern>/OppMngmt/*</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>FORM</auth-method>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/OppMngmt/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SalesRep</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Reserved Area</web-resource-name>
			<url-pattern>/index.html</url-pattern>
			<url-pattern>/CustLoad</url-pattern>
			<url-pattern>/OppLoad</url-pattern>
			<url-pattern>/CustOptLoad</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>